* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #07074d;
    /* Adjust the color as needed */
    margin-bottom: 10px;
    /* Add space between the title and the form */
}

.formbold-mb-5 {
    margin-bottom: 10px;
}

.formbold-pt-3 {
    padding-top: 8px;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;

}

.formbold-form-wrapper {
    margin: 0 auto;
    width: 100%;
    background: #f4f5f7;
    /* Change the background color to a grey tone */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
    /* Shadow */
    padding: 30px;
    /* Increase padding */
    border: black solid 2px;
}

.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 5px;
}

.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.formbold-form-input {
    width: 100%;
    padding: 14px 15px;
    /* Adjust padding */
    border-radius: 8px;
    /* Rounded corners */
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: horizontal;
}

.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    /* Rounded corners */
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    /* Adjust shadow on hover */
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}


@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}
