.light-bg {
    background-color: #f8f9fa;
    /* Light background color */
    padding: 20px;
    /* Adjust padding as needed */
}

.dark-bg {
    background-color: #343a40;
    /* Dark background color */
    color: #ffffff;
    /* Text color for dark background */
    padding: 20px;
    /* Adjust padding as needed */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.text-xxl {
    font-size: 5rem;
    /* You can adjust the value as needed */
}

.text-xl {
    font-size: 2rem;
}

.text-l {
    font-size: 1.7rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity as needed */
    z-index: 1;
}
